<!DOCTYPE html>
<html>


<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Edit details</title>
</head>


<body>
	<div class="container-fluid" style="padding: 0px">
			<div class="col-sm-12" style="background-color: silver; padding-right: 0px;padding-left: 0px; padding-bottom: 0px">

				<div class="col-sm-2" style="padding-top: 10px">
					<a href="{% url 'addcard' %}"><img src="" alt="CardSite Logo"></a>	
				</div>

				<div class="col-sm-9">
				</div>


				<div class="col-sm-1" style=" padding-left: 0px; background-color: blue; padding-right: 0px">

				</div>

			</div>
			<form method="post" action="{% url 'update' %}" role="form">
			{% csrf_token %}
				{% for a in user1 %}
			<div class="col-sm-12" style="padding-top: 50px">
					
  						<div class="form-group">
    						<label for="about">About</label>
    						<input type="text" name="about" placeholder="Update about" value="{{a.about}}"> 
  						</div>
 

			</div>

			<div class="col-sm-12" style="padding-top: 50px">
  						<div class="form-group">
    						<label for="url">URL</label>
    						<input type="text" name="url" placeholder="Your url" value="{{a.url}}">
  						</div>

				</div>
					
			</div>


			<div class="col-sm-12" style="padding-top: 50px">
  						<div class="form-group">
    						<label for="company">Company</label>
    						<input type="text" name="company" placeholder="Your Company" value="{{a.company}}">
    						
  						</div>  							
					
			</div>		
			{% endfor %}

			<div class="col-sm-4"></div>
			<div class="col-sm-2">
				<button type="submit" class="btn-info btn-lg">Update</button>
			</div>
			</form>

			<div class="col-sm-2">
				<a href="{% url 'addcard' %}"><button class="btn-info btn-lg">Cancel</button>
			</div>

			<div class="col-sm-4"></div>

			
					


	</div>


</body>



</html>
